@import url("https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Arvo', serif;
  color: #8BC34A;
  font-size: 1.3rem; }

header {
  background-color: #ffffff;
  padding: 2rem 0; }
  header .logo__navcontainer {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .logo__navcontainer a {
      color: black;
      text-decoration: none;
      font-family: 'Arvo', serif; }
      header .logo__navcontainer a .Header__logo {
        width: 250px;
        height: 250px; }
    header .logo__navcontainer .header__nav ul {
      margin: 0;
      padding: 0;
      list-style: none; }
      header .logo__navcontainer .header__nav ul li {
        display: inline-block; }
        header .logo__navcontainer .header__nav ul li a {
          display: block;
          padding: 0.5rem 1rem; }
          header .logo__navcontainer .header__nav ul li a:hover {
            background: #73d159;
            transition: all 0.4s linear;
            border-radius: 5px; }

.footer__ {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1.7vw; }
  .footer__ .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px; }
    .footer__ .footer__container a {
      font-family: 'Roboto', sans-serif;
      list-style: none;
      text-decoration: none;
      color: black; }
    .footer__ .footer__container h4 {
      font-family: 'Arvo', serif;
      color: black; }

.copyright {
  margin-top: 1.6vw;
  color: black; }

.main__contact {
  display: flex;
  justify-content: space-around;
  background-color: rgba(79, 155, 62, 0.856);
  align-items: center;
  color: black;
  margin: 2%; }
  .main__contact .head__inputs {
    margin-top: 15px; }
    .main__contact .head__inputs .contact_title {
      padding: 2.5rem;
      font-family: 'Anton', sans-serif;
      letter-spacing: 10px; }
    .main__contact .head__inputs .contact__contact {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      list-style: none;
      gap: 10px; }
  .main__contact .inputs .consulta_text {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    height: 100%;
    justify-content: center;
    align-items: center; }
    .main__contact .inputs .consulta_text h3 {
      font-family: 'Anton', sans-serif;
      letter-spacing: 10px; }
    .main__contact .inputs .consulta_text .inputs__pedidos {
      display: flex;
      flex-direction: column;
      gap: 0.5vw;
      margin-top: 1vw;
      align-items: center; }

@media screen and (max-width: 1010px) {
  .main__contact {
    display: flex;
    flex-direction: column;
    margin: 10px; }
  #maps {
    width: 100%; } }

.main__index {
  background-color: rgba(25, 135, 84, 0.5);
  font-family: 'Anton', sans-serif;
  color: white;
  display: flex;
  justify-content: space-around;
  margin: 1.5rem; }
  .main__index p {
    font-family: 'Roboto', sans-serif; }

.main__img {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .main__img .mainimg {
    width: 100%;
    height: 100%;
    margin-bottom: 1.2vw; }

.main__aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 77, 41, 0.986);
  font-family: 'Anton', sans-serif; }
  .main__aside .h2__aside {
    font-size: 40px; }
  .main__aside .p__aside {
    font-family: 'Roboto', sans-serif;
    font-size: 25px; }

/* header */
@media screen and (max-width: 1010px) {
  .Header__container {
    width: 100%;
    margin-top: 1rem; }
  .header__nav ul li {
    display: block; }
    .header__nav ul li a {
      display: block;
      padding: 0.5rem 0rem;
      transition: all 0.4s linear;
      border-radius: 5px; }
      .header__nav ul li a:hover {
        background: #73d159; } }
