@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Ubuntu&display=swap');
/* font-family: 'Anton', sans-serif;
   font-family: 'Arvo', serif; */
/******************        ******************* 
****************** HEADER *******************
******************        *******************/

body{
    font-family: 'Arvo', serif;
    color: #8BC34A;
    font-size: 1.3rem;
    line-height: 1.4rem;
    width: 90%;
    max-width: 200rem;
    margin: auto;
}


header{
    background-color: #ffffff;
    padding: 2rem 0;
}

header a{
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Arvo', serif;
}

.logo__navcontainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.header__nav ul li{
    display: inline-block;
}
.header__nav ul li a{
    display: block;
    padding: 0.5rem 1rem;
}

.header__nav ul li a:hover{
    background: rgb(115, 209, 89);
    transition: all 0.4s linear;
    border-radius: 5px;
}

.Header__logo{
    width: 250px;
    height: 250px;
}


@media screen and (max-width: 1010px){
    .Header__container{
        width: 100%;
        margin-top: 1rem;
    }    
    .header__nav ul li{
            display: block;
        }
        .header__nav ul li a{
            display: block;
            padding: 0.5rem 0rem;
            transition: all 0.4s linear;
            border-radius: 5px;
        }
        
        .header__nav ul li a:hover{
            background: rgb(115, 209, 89);
}
}

/*****************            ******************* 
****************** END HEADER *******************
******************        *******************/

/******************        ******************* 
****************** MAIN123*******************
******************        *******************/
.main__index{
    background-color: rgb(25,135,84,0.5);
    font-family: 'Anton', sans-serif;
    color: white;
    display: flex;
    justify-content: space-around; 
    margin: 1.5rem;
}

.main__index p{
    font-family: 'Roboto', sans-serif;
}

.main__img{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mainimg{
    width: 100%;
    height: 100%;
    margin-bottom: 1.2vw;
}

@media screen and (max-width: 900px) {
    .divmain2, .divmain3{
        display: none;
    }
    .main__img{
        flex-direction: column;
    }
}

/******************        ******************* 
****************** END MAIN123 *******************
******************        *******************/



/*****************       ******************* 
****************** ASIDE *******************
******************       *******************/

.main__aside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(47, 77, 41, 0.986);
    font-family: 'Anton', sans-serif;
}

.h2__aside{
    font-size: 40px;
}

.p__aside{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

/*****************           ******************* 
****************** END ASIDE *******************
******************           *******************/



/* FOOTER */
.footer__{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1.7vw;
}

.footer__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.footer__container a{
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
    color: black;
}

.footer__container h4{
    font-family: 'Arvo', serif;
    color: black;
}

.copyright{
    margin-top: 1.6vw;
    color: black;
}


/*****privacidad.html*****/

.hero__image{
    width: 100%;
}

.return{
    display: flex;
    justify-content: center;
    text-decoration: solid;
}

.politics_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: rgba(47, 77, 41, 0.986) ;
}

/* ******END privacidad.html***** */

/*****************           ******************* 
****************** PRODUCTOS *******************
******************           *******************/
.hero_image>img {    
    width: 100%;
}
#products {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "product1 product2 product3 product4"
    "product5 product6 product7 product8"
    ;
    gap: 2vw;
    margin: 2.5vw;
    margin-top: 5vw;
}

.product1 {
    grid-area: product1;
}

.product2 {
    grid-area: product2;
}

.product3 {
    grid-area: product3;
}

.product4 {
    grid-area: product4;
}

.product5 {
    grid-area: product5;
}

.product1 img, .product2 img, .product3 img, .product4 img, .product5 img {
    width: 100%;
    height: 100%;
}

.product {
    background-color: rgb(25,135,84,0.5);
    padding: 1vw;
    margin: 1.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5vw;
}

.product form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
}

.btn-success:hover{
    color: rgba(47, 77, 41, 0.986);
}

section h4{
    color: black;
    letter-spacing: 3px;
    margin-top: 12px;
    font-size: 1.2vw;
    font-family: 'Anton', sans-serif;
}
.return{
    color: black;
    letter-spacing: 3px;
    display: flex;
    margin-top: 2vw;
    justify-content: center;
    text-decoration: none;
}

@media screen and (max-width: 1010px){
    #products {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "product1 product2"
        "product3 product4"
        "product5 product6"
        "product7 product8"
        ;
        gap: 2vw;
        margin-top: 5vw;
    }
    .return {
        margin-bottom: 5vw;
    }
}

/*****************               ******************* 
****************** END PRODUCTOS *******************
******************               *******************/

/*****************           ******************* 
****************** contacto  *******************
******************           *******************/
/* .head__inputs{
    margin-top: 15px;
} */

.contact_title{
    padding: 2.5rem;
    font-family: 'Anton', sans-serif;
    letter-spacing: 10px;
}

.main__contact{
    display: flex;
    justify-content: space-around;
    background-color: rgb(25,135,84,0.5);
    align-items: center;
    color: black;
}

.contact__contact{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    list-style: none;
    gap: 10px;
}

.inputs__inputs{
    text-decoration: none;
    list-style: none;
}

.inputs__pedidos {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    margin-top: 1vw;
    align-items: center;
}

.inputs h3{
    font-family: 'Anton', sans-serif;
    letter-spacing: 10px;
}

.consulta_text_form_button {
    display: flex;
    justify-items: space-around;
    margin-top: 1vw;
    gap: 1vw;
    border-radius: 10%;
}

.consulta_text {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.consulta_text h3{
    font-family: 'Anton', sans-serif;
    letter-spacing: 5px;
}

@media screen and (max-width: 1010px){
    .main__contact{
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
}


/*****************               ******************* 
****************** end contacto  *******************
******************               *******************/



/*****************           ******************* 
****************** NOSOTROS  *******************
******************           *******************/

.main1, .main3{
    width: 100%;
    height: 100%;
}

.main2, .main4{
    background-color: rgb(25,135,84,0.3);
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Arvo', serif;
    color: black;
}

.nosotros__main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 4vw;
    grid-template-areas: 
    "main1 main2"
    "main4 main3";
}

.main1{
    grid-area: "main1";
}

.main2{
    grid-area: "main2";
}

.main3{
    grid-area: "main3";
}

.main4{
    grid-area: "main4";
}


